:root {
  --text: #fff;
  --base: #4844a3;
  --baseDakr: #29264c;
  --prominent: #ff556e;
  --prominentDark: #aa2f41;
  --button: #5752cd;
  --buttonDark: #342d71;
  --link: rgba(255, 255, 255, 0.5);
}